nav {
  display: inline-flex;
  height: 100px;
  width: 100%;
  background: #9DDAC6;
  align-items: center;
  justify-content: space-between;
  padding: 0.5px 50px 50px 150px;
  flex-wrap: wrap;
}

nav .logo {
  width: 100px;
  height: 60px;
  position: relative;
  top: 1px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  height: 80px;
}

nav ul li {
  padding: 0.5px 1px 150px 5px;
  margin: 0 5px;
  height: 72px;
}

nav ul li a {
  display: inline-flex;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 0.585px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
  color: #111;
  background: #fff;
}

nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #f2f2f2;
  box-sizing: border-box;
  margin: 0;
  font-family: serif;
}

.header {
  width: 100;
  height: 50px;
  display: block;
  background-color: #9DDAC6;
}

.inner header {
  width: 100px;
  height: 50%;
  display: block;
}

.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin-left: 40px;
  margin-top: 0px;
}

.logo h1 {
  height: 100%;
  display: table-cell;
  float: left;
  color: rgb(53, 9, 104);
}

.navigation {
  float: right;
  height: 25%;
  color: darkblue;
}

.header .navigation ul li {
  padding: 0.5px 50px 75px 100px;
  display: table;
  height: 50px;
  float: right;
  margin-right: 10px;
}

.navigation ul li a:hover {
  border-bottom: 3px solid indigo;
}

.first {
  margin: 70px auto 0 auto;
  padding: 0 75px 0 75px;
  text-align: center;
  line-height: 0.5;
}

.firsth1 {
  color: #66BFBF;
  font-size: 2.5rem;
  text-decoration: underline #66BFBF 2px;
}

p {
  font-size: 1.3rem;
  padding: 12px;
  ;
}

.quote {
  font-weight: 600;
}

.second {
  margin: 50px auto 0 auto;
  padding: 0 75px 0 75px;
  font-size: 1rem;
}

.third {
  margin: 50px auto 0 auto;
  padding: 0 75px 0 75px;
  font-size: 1rem;
  position: relative;
}

h2 {
  color: #66BFBF;
  text-align: center;
  line-height: 3;
  text-decoration: underline #66BFBF 1.7px;
}

.img1 {
  width: 35%;
  display: inline-block;
  padding-top: 50px;
  position: absolute;
  left: 150px;
}

.img2 {
  width: 40%;
  display: inline-block;
  padding-top: 50px;
  position: absolute;
  right: 150px;
}

.videodesc {
  margin-top: 500px;
  padding: 20px;
}

.video1 {
  margin: 400px 100px 0 75px;
  float: left;
}

a {
  color: #66BFBF;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 70px 200px 30px 250px;
  margin-top: 50px;
  font-size: 1.5rem;
}

a:hover {
  color: #AE00FB;
}

.fourth {
  text-align: center;
  background-color: #9DDAC6;
  position: relative;
  top: 50px;
  margin-bottom: 0;
}

.copyright {
  color: #EAF6F6;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 50px;
  line-height: 0.5;
}

.footer-link1 {
  color: #11999E;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  padding: 50px 50px 25px 50px;
}
